.button {
  -fx-text-fill: black;
  -fx-font-family: "Arial Narrow";
  -fx-font-weight: bold;
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

.button:hover {
  -fx-background-color: linear-gradient(#810541, #310000);
  -fx-text-fill: white;
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

.button:focused {
  -fx-background-color: linear-gradient(#310000, #810541);
}
